# Intro to Pandas

In [4]:
import pandas as pd
import os

### Use Pandas.read_csv() to read files

In [3]:
file_path = os.path.join("..", "data", "gapminder_all.csv")

In [17]:
df = pd.read_csv(file_path)
df.head()

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

### Use type() to see Data Type we're working with

In [9]:
type(df)

pandas.core.frame.DataFrame

In [18]:
ds = df.country
type(ds)

pandas.core.series.Series

### use dtypes property to see column data types

In [27]:
df.dtypes

continent          object
country            object
gdpPercap_1952    float64
gdpPercap_1957    float64
gdpPercap_1962    float64
gdpPercap_1967    float64
gdpPercap_1972    float64
gdpPercap_1977    float64
gdpPercap_1982    float64
gdpPercap_1987    float64
gdpPercap_1992    float64
gdpPercap_1997    float64
gdpPercap_2002    float64
gdpPercap_2007    float64
lifeExp_1952      float64
lifeExp_1957      float64
lifeExp_1962      float64
lifeExp_1967      float64
lifeExp_1972      float64
lifeExp_1977      float64
lifeExp_1982      float64
lifeExp_1987      float64
lifeExp_1992      float64
lifeExp_1997      float64
lifeExp_2002      float64
lifeExp_2007      float64
pop_1952          float64
pop_1957          float64
pop_1962          float64
pop_1967          float64
pop_1972          float64
pop_1977          float64
pop_1982          float64
pop_1987          float64
pop_1992          float64
pop_1997          float64
pop_2002            int64
pop_2007            int64
dtype: object

### To find length of Series use size property, 
### To find row counts of DataFrames, use shape property

In [19]:
ds.size

142

In [14]:
df.shape

(142, 38)

In [22]:
rows = df.shape[0]
columns = df.shape[1]
print(f"There are {rows} rows and {columns} columns")

There are 142 rows and 38 columns

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 38 columns):
continent         142 non-null object
country           142 non-null object
gdpPercap_1952    142 non-null float64
gdpPercap_1957    142 non-null float64
gdpPercap_1962    142 non-null float64
gdpPercap_1967    142 non-null float64
gdpPercap_1972    142 non-null float64
gdpPercap_1977    142 non-null float64
gdpPercap_1982    142 non-null float64
gdpPercap_1987    142 non-null float64
gdpPercap_1992    142 non-null float64
gdpPercap_1997    142 non-null float64
gdpPercap_2002    142 non-null float64
gdpPercap_2007    142 non-null float64
lifeExp_1952      142 non-null float64
lifeExp_1957      142 non-null float64
lifeExp_1962      142 non-null float64
lifeExp_1967      142 non-null float64
lifeExp_1972      142 non-null float64
lifeExp_1977      142 non-null float64
lifeExp_1982      142 non-null float64
lifeExp_1987      142 non-null float64
lifeExp_1992      142 non-null float64
lifeExp_1997      142 non-null float64
lifeExp_2002      142 non-null float64
lifeExp_2007      142 non-null float64
pop_1952          142 non-null float64
pop_1957          142 non-null float64
pop_1962          142 non-null float64
pop_1967          142 non-null float64
pop_1972          142 non-null float64
pop_1977          142 non-null float64
pop_1982          142 non-null float64
pop_1987          142 non-null float64
pop_1992          142 non-null float64
pop_1997          142 non-null float64
pop_2002          142 non-null int64
pop_2007          142 non-null int64
dtypes: float64(34), int64(2), object(2)
memory usage: 42.2+ KB